
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
<div class="row">
<div class="col-xs-12 bg-danger">
<h1>heaader<small>socdn</small></h1>
<p>wefr<small>refe</small></p>


</div>
</div>

<script src="js/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>

<!table class="table">
<!table class="table table-striped/bordered/hover/condensed">
<!tr class="success/active">
<!img class="img-responsive/circled/rounded/thumbnail">
<!ssa class="btn btn-default/primary/success/danger/warning/info/btn-link btn-lg/sm/xs" href="#">Link</a>
<!button>
<!input class="" type="button/submit"value="input/submit">
<!div class="form-group">
